p {
  padding: 0;
  margin: 0;
  display: inline-block;
}
#my-app {
  width: 500px;
  height: 700px;
  margin: 0 auto;
  background-color: rgb(58 124 166);
  align-content: center;
  overflow: hidden;
}
#container {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 46%;
  justify-content: center;
  align-items: stretch;
  gap: 10px;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative;
}
h1 {
  width: 300px;
  color: rgb(232 230 50);
  margin: 0 auto;
  padding-top: 30px;
  font-size: 50px;
  font-weight: 400;
  font-family: "Bebas Neue";
  text-align: center;
}
h2 {
  font-size: 40px;
  font-weight: 400;
  font-family: "Bebas Neue";
  text-align: center;
  color: rgb(244 244 244);
  margin: 0;
}
h3 {
  font-size: 30px;
  font-weight: 400;
  font-family: "Bebas Neue";
  text-align: center;
  color: rgb(232 230 50);
  padding-top: 10px;
  margin: 0;
}
#btn {
  background-color: rgb(235 197 35);
  display: block;
  margin: 0 auto;
  width: 150px;
  height: 50px;
  border: none;
  border-radius: 60px;
  font-family: "Bebas Neue";
  color: rgb(244 244 244);
  font-size: 35px;
}
#eng-container,
#esp-container {
  display: flex;
  flex-direction: column;
  width: 40%;
  justify-content: space-around;
}
#eng-container {
  align-items: flex-end;
}
.word {
  background-color: rgb(244 244 244);
  color: rgb(6 51 80);
  font-family: "Bebas Neue";
  font-size: 20px;
  border: 1px solid rgb(244 244 244);
  border-radius: 60px;
  width: 200px;
  line-height: 9px;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}
.selected {
  background-color: yellow;
}
.matched {
  background-color: green;
}
.result {
  color: rgb(58 124 166);
  font-size: 70px;
  font-weight: 400;
  font-family: "Bebas Neue";
  align-items: center;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  height: 150px;
  background-color: rgb(232 230 50);
  position: absolute;
  display: flex;
  justify-content: center;
}
.round {
  padding-top: 0;
}
.word:hover {
  font-size: 22px;
}
@media (max-width: 570px) {
  #my-app {
    width: 400px;
  }

  .word {
    width: 150px;
  }
}
@media (max-width: 420px) {
  #my-app {
    width: 380px;
  }
  .word:hover {
    font-size: 19px;
  }
  .word {
    font-size: 18px;
  }
}
@media (max-width: 420px) {
  #my-app {
    width: 320px;
  }
  .word {
    width: 125px;
  }
}

@media (max-width: 380px) {
  #my-app {
    width: 300px;
  }
}
